@page "/"
@using Microsoft.AspNetCore.Components.Forms
@using RecruitmentTask.Calculator.Models
@using RecruitmentTask.DataAccess.Abstractions
@* @attribute [StreamRendering] *@
@inject IDataHandler DataHandler
@rendermode InteractiveServer

<h3>Wybierz plik</h3>

<InputFile OnChange="OnChangeFileAsync" accept=".csv" />

@if (employees != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Lp</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Zarobki</th>
                <th>Poziom stanowiska</th>
                <th>Miejsce zmieszkania</th>
                @if (showNetSalary)
                {
                    <th>Zarobki netto</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in employees)
            {
                <tr>
                    <td>@employee.Id</td>
                    <td>@employee.Name</td>
                    <td>@employee.Surname</td>
                    <td>@employee.Salary</td>
                    <td>@employee.JobLevel</td>
                    <td>@employee.City</td>
                    @if (showNetSalary)
                    {
                        <td>@employee.NetSalary</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<EmployeeDTO>? employees;
    private bool showNetSalary = true;

    protected override async Task OnInitializedAsync()
    {

    }

    private async Task OnChangeFileAsync(InputFileChangeEventArgs e)
    {
        try
        {
            await using var stream = e.File.OpenReadStream();

            employees = await DataHandler
                .GetEmployeesAsync(stream);
        }
        catch (Exception)
        {
            throw;
        }
    }
}
